{% extends "base.html" %} <!-- Расширяет базовый шаблон base.html -->

{% block title %}
Задачи
{% endblock %} <!-- Блок для заголовка страницы -->

{% block content %}
{% include "task/navbar.html" %} <!-- Включает файл с навигационной панелью -->

<table class="table table-hover"> <!-- Начало таблицы с классом для наведения -->
    <thead>
    <!-- Пустая строка для отступа -->
    <tr>
        <th class="w-75" scope="col">Задачи</th> <!-- Заголовок столбца "Задачи" -->
        <th scope="col">Изменить</th> <!-- Заголовок столбца "Изменить" -->
        <th scope="col">Удалить</th> <!-- Заголовок столбца "Удалить" -->
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %} <!-- Цикл по всем задачам -->
    <tr>
        <!-- HEADER -->
        <td class="align-middle" data-bs-toggle="modal" data-bs-target="#exampleModalDetail"
            data-task-id="{{ task.id }}"
            data-task-title="{{ task.title }}"
            data-task-description="{{ task.description }}"
            data-task-done="{{ task.is_done }}"
            data-task-deleted="{{ task.is_delete }}"
            data-task-created="{{ task.created_at }}"
            data-task-updated="{{ task.updated_at }}">

            <!-- TODO TITLE -->
            <h5 class="card-title">
                <a href="#">
                    {{ task.title|truncatechars:40 }}
                </a>
            </h5>

            <!-- TODO DATETIME -->
            <div class="align-middle">
                <button class="btn btn-{{task.css_class}} btn-sm"
                        style=" width: 120px; height: 20px; font-size: 11px; pointer-events: none; line-height: 5px;">
                    <b>{{ task.status }}</b>
                </button>
                <small class="opacity-75">
                    <i class="bi bi-calendar2-event"></i>
                    {{ task.updated_at| date }}</small>
                <small class="float-end opacity-75">
                    <i class="bi bi-clock-history"></i>
                    {{ task.updated_at | time }}</small>
            </div>

        </td>
        <td class="text-center align-middle">
            <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                    data-task-id="{{ task.id }}"
                    data-task-title="{{ task.title }}"
                    data-task-description="{{ task.description }}"
                    data-task-done="{{ task.is_done }}"
                    data-task-deleted="{{ task.is_delete }}">
                <i class="bi bi-pencil-square"></i>
                <!-- Кнопка для редактирования задачи с иконкой карандаша, открывает модальное окно -->
            </button>
        </td>
        <!-- DELETE -->
        <td class="text-center align-middle">
            <button class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModalDelete"
                    data-task-id="{{ task.id }}">
                <i class="bi bi-trash"></i>
            </button>
        </td>
    </tr>
    {% endfor %} <!-- Конец цикла по задачам -->
    </tbody>
</table>

{% include "task/pagenation.html" %} <!-- Включает файл с пагинацией -->
{% include "task/modal_create.html" %} <!-- Включает модальное окно для создания задачи -->
{% include "task/modal_edit.html" %} <!-- Включает модальное окно для редактирования задачи -->
{% include "task/modal_delete.html" %} <!-- Включает модальное окно для удаления задачи -->
{% include "task/modal_detail.html" %} <!-- Включает модальное окно для деталей задачи -->

{% endblock %} <!-- Конец блока содержимого -->




