<div class="modal fade" id="exampleModalDetail" tabindex="-1" aria-labelledby="exampleModalDetailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalDetailLabel">Подробно о задаче</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <div class="modal-body">
                <div><strong>Заголовок:</strong> <p id="detailTaskTitle"></p></div>
                <div><strong>Описание:</strong> <p id="detailTaskDescription"></p></div>
                <div><strong>Выполнено:</strong> <p id="detailTaskDone"></p></div>
                <div><strong>Удалено:</strong> <p id="detailTaskDeleted"></p></div>
                <div><strong>Создано:</strong> <p id="detailTaskCreatedAt"></p></div>
                <div><strong>Изменено:</strong> <p id="detailTaskUpdatedAt"></p></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>

        </div>
    </div>
</div>
